---

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: 'default'

  routes:
    - matchers:
        - severity="critical"
      receiver: 'discord_critical'

    - matchers:
        - severity="warning"
      receiver: 'discord_warning'

    - matchers:
        - severity="info"
      receiver: 'discord_info'

receivers:
  - name: 'discord_critical'
    webhook_configs:
      - url: "{{ alertmanager_critical_webhook_url }}"
        send_resolved: true

  - name: 'discord_warning'
    webhook_configs:
      - url: "{{ alertmanager_warning_webhook_url }}"
        send_resolved: true

  - name: 'discord_info'
    webhook_configs:
      - url: "{{ alertmanager_info_webhook_url }}"
        send_resolved: true

  - name: 'default'
    webhook_configs:
      - url: "{{ alertmanager_default_webhook_url }}"
        send_resolved: true
