[Unit]
Description=Elasticsearch
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/share/elasticsearch/bin/elasticsearch
User=elasticsearch
Group=elasticsearch
Environment=ES_HOME=/usr/local/share/elasticsearch
Environment=ES_PATH_CONF=/usr/local/share/elasticsearch/config
Environment=PID_DIR=/var/run/elasticsearch
EnvironmentFile=-/etc/sysconfig/elasticsearch

[Install]
WantedBy=multi-user.target
