[Unit]
Description=Logstash
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=logstash
Group=logstash
ExecStart=/usr/local/share/logstash-{{ logstash_version }}/bin/logstash -f /usr/local/share/logstash-{{ logstash_version }}/config/logstash.conf
Restart=always

[Install]
WantedBy=multi-user.target
