---
global:
  scrape_interval: {{ prometheus_scrape_interval }}s

scrape_configs:
  - job_name: "node_exporter"
    static_configs:
{% for node in prometheus_node_exporter_targets %}
      - targets: ["{{ node.target }}"]
        labels:
          instance: "{{ node.hostname }}"
{% endfor %}

  - job_name: "nginx_exporter"
    static_configs:
{% for nginx in prometheus_nginx_exporter_targets %}
      - targets: ["{{ nginx.target }}"]
        labels:
          instance: "{{ nginx.hostname }}"
{% endfor %}
