---
global:
  scrape_interval: {{ prometheus_scrape_interval }}s

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - localhost:9093

rule_files:
  - "/etc/prometheus/critical_rules.yml"
  - "/etc/prometheus/warning_rules.yml"
  - "/etc/prometheus/info_rules.yml"

scrape_configs:
  - job_name: "node_exporter"
    static_configs:
{% for node in prometheus_node_exporter_targets %}
      - targets: ["{{ node.target }}"]
        labels:
          instance: "{{ node.hostname }}"
{% endfor %}

  - job_name: "nginx_exporter"
    static_configs:
{% for nginx in prometheus_nginx_exporter_targets %}
      - targets: ["{{ nginx.target }}"]
        labels:
          instance: "{{ nginx.hostname }}"
{% endfor %}
